<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="partial/header::header" ></div>
<body>
<article class="main-content page-page">
    <div class="post-header">
        <h1 class="post-title" itemprop="name headline" th:text="${title}"></h1>
        <div class="post-data">
            <time th:datetime="${commons.fmtdate(article.created)}"  itemprop="datePublished" th:text="'发布于 '+ ${commons.fmtdate(article.created)}"></time>
        </div>
    </div>
    <div id="post-content" class="post-content">
        <th:block th:utext="${commons.article(article.content)}"/>
    </div>
</article>
</body>
<div th:replace="partial/comments::comments" ></div>
<div th:replace="partial/footer::footer" ></div>
</html>